<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>Welcome to the Home Page</h1>
    <!-- Flash message -->
    <% if (typeof messages !== 'undefined' && messages.length > 0) { %>
    <div class="flash-message">
      <% messages.forEach(function(message) { %>
      <p><%= message %></p>
      <% }) %>
    </div>
    <% } %>
    <button onclick="signOut()">Sign Out</button>
    <button onclick="resetPassword()">Reset Password</button>
    <script>
      function signOut() {
        // Send sign-out request to the server
        fetch('/signout', {
          method: 'POST',
          credentials: 'same-origin', // Include cookies in the request
        })
          .then((response) => {
            if (response.ok) {
              // Redirect to sign-in page after successful sign-out
              window.location.href = '/signin';
            } else {
              console.error('Error signing out');
              // Handle sign-out error
            }
          })
          .catch((error) => {
            console.error('Error signing out:', error);
            // Handle sign-out error
          });
      }

      function resetPassword() {
        //Redirect to reset password route
        window.location.href = '/resetpassword';
      }
    </script>
  </body>
</html>
